@use 'vars';

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #273555;
    color: vars.$branco-base;
}

h1,h2,h3,h4 {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

h4 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    text-align: justify;
    hyphens: manual;
}

@media (max-width: 600px){
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }
}