@use 'base';

// layout 
@use 'lyp/header-p';
@use 'lyp/main-p';
@use 'lyp/footer-p';

// layout smartphones

// @use 'lysf/layout-sf';
@use 'lysf/header-sf';
@use 'lysf/main-sf';
@use 'lysf/footer-sf';

// layout tablets

// @use 'lyts/layout-ts';
@use 'lyts/header-ts';
@use 'lyts/main-ts';
