@use 'base';
@use 'components';

// layout padrao
@use 'layout padrao/header-p';
@use 'layout padrao/main-p';
@use 'layout padrao/footer-p';

// layout smartphones

@use 'layout smartphones/header-sf';
@use 'layout smartphones/main-sf';
@use 'layout smartphones/footer-sf';

// layout tablets

@use 'layout tablets/header-ts';
@use 'layout tablets/main-ts';
