@media (min-width:601px) and (max-width:900px){
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }

    /* HEADER */

    .header {
        padding: 2rem 3rem 1rem 3rem;
        flex-direction: column;

        &__nav {
            margin: 0;
        }

        &__button {
            padding: 0.75rem;
            font-size: 0.85rem;
        }                    
    }


} 

    