@media (min-width: 601px) and (max-width: 900px){
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }

    /* HEADER */

    
    .header {
        padding: 2rem 3rem 1rem 3rem;
        flex-direction: column;
    }

    .header__nav {
        margin: 0;
    }

    .header__button {
        padding: 0.75rem;
        font-size: 0.85rem;
    }    

    /* MAIN */

    main {
        margin-top: 15rem;
    }

    .home {
        margin: 0.5rem 1rem;
    }

    /* SOBRE */

    .sobre__p {
        text-align: center;
    }
    
    /* PROPOSTA */

    .servicos__prop-title-wrapper {
        padding-bottom: 1rem;
    }

    .servicos__prop-container {
        margin-top: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .servicos__container-item {
        width: 33vw;
    }

}