/* GERAL */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #273555;
    color: rgb(220, 220, 220);
}

h1,h2,h3,h4 {
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    text-align: justify;
    hyphens: manual;
}

#divisoria {
    margin: 2rem 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, rgb(136, 136, 136),white 45% 55%, black);
    border-radius: 5px;
}

/* HEADER */

header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0px;
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(72, 90, 136);
}

.header-fosco {
    background-color: rgba(63, 77, 111, 0.6);    
    backdrop-filter: blur(5px);
}

nav {
    margin-left: 2rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: none;
    z-index: 0;
}

button::after {
    content: '';
    background-color: black;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 5px;
    z-index: -1;
    transition: 200ms ease-in-out;
}

button:hover::after {
    height: 100%;
}

button:hover {
    color: white;
}

/* MAIN */

main {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

#home {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
}

#home p, #sobre p{
    text-align: center;
}

#sobre {
    padding: 0.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* SERVICOS */

#servicos {
    margin: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    background-color: #36425f;
    border: solid black 3px;
    border-radius: 10px;
    z-index: -2;
}

#titulo-servicos {
    margin-bottom: 2rem;
}

/* RECONHECIMENTO */

#fase-reconhecimento-sf {
    display: none;
}

#fase-reconhecimento {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

#fase-reconhecimento div {
    margin-left: 3rem;
    grid-column: 2/4;
}

/* PROPOSTA */

#fase-proposta-sf {
    display: none;
}

#fase-proposta {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    align-items: center;
}

#texto-proposta {
    margin-right: 3rem;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

#fase-proposta img {
    grid-column: 3/4;
    grid-row: 1/2;
}

#container-propostas {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    gap: 2rem;
}

#frame-proposta {
    width: 20vw;
    padding: 1rem;
    position: relative;
    background-color: #36425f;
    border-radius: 15px;
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg; 
    inherits: false;
}

#frame-proposta::after, #frame-proposta::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), #ff0000, #009DFF,red);
    border-radius: 15px;
    z-index: -1;
    transition: 200ms ease-in-out;
    padding: 4px;
    animation: 3s spin linear infinite;
}

#frame-proposta:last-child::after, #frame-proposta:last-child::before {
    background-image: conic-gradient(from var(--angle), #BB22F5, #22F599,#F5B423,#BB22F5);
}

#frame-proposta::before  {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

#frame-proposta h4 {
    margin-bottom: 0.5rem;
}

#frame-proposta p {
    text-align: center;
}

/* APLICACAO */

#fase-aplicacao-sf {
    display: none;
}

#fase-aplicacao {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

#fase-aplicacao div {
    margin-left: 3rem;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DEPOIMENTOS */

#depoimentos {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #36425f;
    border: solid black 3px;
    border-radius: 10px;
}

#container-avaliacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#perfil-nome {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* CONTATO  */

#contato {
    padding: 2rem;
    background-color: #3f4d6f;
}

#contato h4{
    margin-bottom: 1rem;
}

#container-info-formulario {
    display: flex;
    justify-content: space-around;
}

#container-info-formulario div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;  
    gap: .5rem;
}

label {
    font-size: 1.5rem;
}

input, textarea{
    font-size: 1rem;
}

form button {
    width: fit-content;
    align-self: center;
}
