/* GERAL */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}

h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

#divisoria {
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, black,white 45% 55%, black);
}

/* HEADER */

header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0px;
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    background-color: rgb(172, 172, 172);
}

nav {
    margin-left: 2rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-content: center;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
}

/* MAIN */

main {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

#home {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
}

#sobre {
    padding: 0.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}

#servicos {
    margin: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    border: solid black 3px;
    border-radius: 10px;
}

/* reconhecimento */

#fase-reconhecimento-sf {
    display: none;
}

#fase-reconhecimento {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

#fase-reconhecimento div {
    margin-left: 3rem;
    grid-column: 2/4;
}

/* proposta */

#fase-proposta-sf {
    display: none;
}

#fase-proposta {
    padding: 1rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    align-items: center;
}

#texto-proposta {
    margin-right: 3rem;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

#fase-proposta img {
    grid-column: 3/4;
    grid-row: 1/2;
}

#container-propostas {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#container-propostas div {
    width: 20vw;
    padding: 1rem;
    border: 3px black solid;
    border-radius: 15px;
}

#container-propostas div h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* aplicacao */

#fase-aplicacao {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

#fase-aplicacao div {
    margin-left: 3rem;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DEPOIMENTOS */

#depoimentos {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid black 3px;
    border-radius: 10px;
}

#container-avaliacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#perfil-nome {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#perfil-nome h4 {
    text-align: center;
}

/* CONTATO  */

#contato {
    padding: 2rem;
    background-color: rgb(181, 181, 181);
}

#contato h4{
    margin-bottom: 1rem;
    text-align: center;
}

#container-info-formulario {
    display: flex;
    justify-content: space-around;
}

#container-info-formulario div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;  
    gap: .5rem;
}

form button {
    width: fit-content;
    align-self: center;
}

/* MEDIA QUERIES */

/* PEQUENO */

@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    /* HEADER */
    
    header {
        padding: 1rem 3rem;
        flex-direction: column;
    }    
    
    nav {
        margin: 0;
        padding: 0.5rem;
        gap: 1rem;
    }

    button {
        padding: 0.5rem;
        font-size: 0.75rem;
    }

    /* MAIN */

    main {
        margin-top: 11rem;
    }

    #home {
        margin: 0.5rem 1rem;
    }

    #sobre {
        
    }

    /* SERVICOS */

    #servicos p {
        text-align: justify;
        hyphens: auto;
    }

    #servicos div{
        margin-bottom: 2rem;
    }

    #fase-reconhecimento {
        display: none;
    }

    #fase-reconhecimento-sf {
        display: flex;
        flex-direction: column;
    }

    #fase-reconhecimento-sf img {
        margin-bottom: 1rem;
        width: 75%;
        align-self: center;
    }
    
    /* PROPOSTA */
    
    #fase-proposta {
        display: none;
    }

    #fase-proposta-sf {
        display: flex;
        flex-direction: column;
    }

    #fase-proposta-sf img {
        margin-bottom: 1rem;
        width: 75%;
        align-self: center;
    }

    #container-propostas {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    #container-propostas div {
        margin: 0;
        width: 50vw;
        align-self: center;
    }

}

/* MEDIO */

@media (min-width: 601px) and (max-width: 900px){
    
}

/* GRANDE */

@media (min-width: 901px) {
    
}