/* GERAL */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

#divisoria {
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, black,white 45% 55%, black);
}

/* HEADER */

header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0px;
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    background-color: rgb(172, 172, 172);
}

nav {
    margin-left: 2rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-content: center;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
}

/* MAIN */

main {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

#home {
    gap: 0.5rem;
    align-items: center;
}

#sobre {
    padding: 0.5rem 3rem;
    align-items: center;
    text-align: center;
}

#servicos {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem  3rem;
    align-items: center;
    border: solid black 3px;
    border-radius: 10px;
}

#fases {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* reconhecimento */

#fase-reconhecimento {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
}

#fase-reconhecimento div {
    grid-column: 2/4;
}

/* proposta */

#fase-proposta {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#texto-proposta {
    grid-column: 1/3;
    grid-row: 1/2;
}

#fase-proposta img {
    grid-column: 3/4;
    grid-row: 1/2;
}

#container-propostas {
    grid-column: 1/4;
    grid-row: 2/3;
}

#container-propostas div {
    margin-bottom: 1rem;
}

/* aplicacao */

#fase-aplicacao {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
}

#fase-aplicacao div {
    grid-column: 2/4;
}








