/* GERAL */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}

h1,h2,h3,h4 {
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    text-align: justify;
    hyphens: manual;
}

#divisoria {
    margin: 2rem 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, black,white 45% 55%, black);
}

/* HEADER */

header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0px;
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    background-color: rgb(172, 172, 172);
}

nav {
    margin-left: 2rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
}

/* MAIN */

main {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

#home {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
}

#home p, #sobre p{
    text-align: center;
}

#sobre {
    padding: 0.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* SERVICOS */

#servicos {
    margin: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    border: solid black 3px;
    border-radius: 10px;
}

#titulo-servicos {
    margin-bottom: 2rem;
}

/* RECONHECIMENTO */

#fase-reconhecimento-sf {
    display: none;
}

#fase-reconhecimento {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

#fase-reconhecimento div {
    margin-left: 3rem;
    grid-column: 2/4;
}

/* PROPOSTA */

#fase-proposta-sf {
    display: none;
}

#fase-proposta {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    align-items: center;
}

#texto-proposta {
    margin-right: 3rem;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

#fase-proposta img {
    grid-column: 3/4;
    grid-row: 1/2;
}

#container-propostas {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    gap: 2rem;
}

#container-propostas div {
    width: 20vw;
    padding: 1rem;
    border: 3px black solid;
    border-radius: 15px;
}

#container-propostas div h4 {
    margin-bottom: 0.5rem;
}

/* APLICACAO */

#fase-aplicacao-sf {
    display: none;
}

#fase-aplicacao {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

#fase-aplicacao div {
    margin-left: 3rem;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DEPOIMENTOS */

#depoimentos {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid black 3px;
    border-radius: 10px;
}

#container-avaliacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#perfil-nome {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* CONTATO  */

#contato {
    padding: 2rem;
    background-color: rgb(181, 181, 181);
}

#contato h4{
    margin-bottom: 1rem;
}

#container-info-formulario {
    display: flex;
    justify-content: space-around;
}

#container-info-formulario div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;  
    gap: .5rem;
}

form button {
    width: fit-content;
    align-self: center;
}
