@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
    }

    /* HEADER */
    
    .header {
        padding: 1rem 3rem;
        flex-direction: column;
    }    
    
    .header__nav {
        margin: 0;
        padding: 0.5rem;
        gap: 1rem;
    }

    .header__button {
        padding: 0.5rem;
        font-size: 0.75rem;
    }

    /* MAIN */

    .main {
        margin-top: 11rem;
    }

    .home {
        margin: 0.5rem 1rem;
    }

    /* SOBRE */

    .sobre__p {
        text-align: center;
    }

    /* SERVICOS */

    .servicos__title-wrapper{
        margin-bottom: 2rem;
    }

    .servicos__reconhecimento {
        display: none;
    }

    .servicos__reconhecimento-sf {
        display: flex;
        flex-direction: column;
    }

    .servicos__reconhecimento-sf img {
        margin-bottom: 1rem;
        width: 65%;
        align-self: center;
    }
    
    /* PROPOSTA */
    
    #fase-proposta {
        display: none;
    }

    #fase-proposta-sf {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #fase-proposta-sf img {
        width: 65%;
        align-self: center;
    }

    #container-propostas {
        margin-top: 2rem;
        flex-direction: column;
    }

    #frame-proposta {
        margin: 0;
        width: 50vw;
        height: 20vh;
        align-self: center;
    }

    /* APLICACAO */

    #fase-aplicacao {
        display: none;
    }

    #fase-aplicacao-sf {
        display: flex;
        flex-direction: column;
    }

    #fase-aplicacao-sf img {
        width: 65%;
        align-self: center;
    }

    /* DEPOIMENTOS */

    #container-avaliacao {
        margin-bottom: 2rem;
    }

    #perfil-nome h4 {
        font-size: 1rem;      
    }

    /* CONTATO */

    #container-info-formulario {
        display: flex;
        flex-direction: column;
    }

    #container-info-formulario div {
        gap: 0;
    }

    #formulario {
        margin-top: 2rem;
    }
}