@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
    }

    /* HEADER */
    
    .header {
        padding: 1rem 3rem;
        flex-direction: column;
    }    
    
    .header__nav {
        margin: 0;
        padding: 0.5rem;
        gap: 1rem;
    }

    .header__button {
        padding: 0.5rem;
        font-size: 0.75rem;
    }

    /* MAIN */

    main {
        margin-top: 11rem;
    }

    .home {
        margin: 0.5rem 1rem;
    }

    /* SOBRE */

    .sobre__p {
        text-align: center;
    }

    /* SERVICOS */

    .servicos__title-wrapper{
        margin-bottom: 2rem;
    }

    .servicos__reconhecimento {
        display: none;
    }

    .servicos__reconhecimento-sf {
        display: flex;
        flex-direction: column;
    }

    .servicos__reconhecimento-sf img {
        margin-bottom: 1rem;
        width: 65%;
        align-self: center;
    }
    
    /* PROPOSTA */
    
    .servicos__proposta {
        display: none;
    }

    .servicos__prop-container-sf {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .servicos__container-img {
        width: 65%;
        align-self: center;
    }

    .servicos__prop-container {
        margin-top: 2rem;
        flex-direction: column;
    }

    .servicos__container-item {
        margin: 0;
        width: 50vw;
        height: auto;
        align-self: center;
    }

    /* APLICACAO */

    .servicos__aplicacao {
        display: none;
    }

    .servicos__aplicacao-sf {
        display: flex;
        flex-direction: column;
    }

    .servicos__apl-img {
        width: 65%;
        align-self: center;
    }

    /* DEPOIMENTOS */

    .depoimentos__container {
        margin-bottom: 2rem;
    }

    .depoimentos__perfil-title {
        margin: 0;
        font-size: 1rem;
    }

    /* CONTATO */

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer__info {
        gap: 0;
    }

    .footer__form {
        margin-top: 2rem;
    }
}