@media (min-width:601px) and (max-width:900px){
    /* HEADER */

    .header {
        padding: 2rem 3rem 1rem 3rem;
        flex-direction: column;

        &__nav {
            margin: 0;
        }

        &__button {
            padding: 0.75rem;
            font-size: 0.85rem;
        }                    
    }


} 

    