@media (max-width: 600px){
    /* HEADER */
    
    .header {
        padding: 1rem 3rem;
        flex-direction: column;

        &__nav {
            margin: 0;
            padding: 0.5rem;
            gap: 1rem;
        }

        &__button {
            padding: 0.5rem;
            font-size: 0.75rem;
        }
    }    
    
    
} 

    