@media (max-width: 600px){
    /* CONTATO */

    .footer {
        display: flex;
        flex-direction: column;

        &__info {
            gap: 0;
        }

        &__form {
            margin-top: 2rem;
        }
    }

    
} 

    
