@media (max-width: 600px){
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
    }

    /* HEADER */
    
    .header {
        padding: 1rem 3rem;
        flex-direction: column;

        &__nav {
            margin: 0;
            padding: 0.5rem;
            gap: 1rem;
        }

        &__button {
            padding: 0.5rem;
            font-size: 0.75rem;
        }
    }    
    
    
} 

    