@use '../vars';

/* GERAL */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: vars.$cor-fundo;
    color: #dcdcdc;
}

h1,h2,h3,h4 {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

h4 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    text-align: justify;
    hyphens: manual;
}

.divisoria {
    margin: 2rem 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0),#dcdcdc 45% 55%, black);
    border-radius: 5px;
}

/* HEADER */

.header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(72, 90, 136);

    &--fosco {
        background-color: rgba(63, 77, 111, 0.6);    
        backdrop-filter: blur(5px);
    }

    &__logo {
        position: relative;
    }

    &__logo::after {
        content: '';
        height: .5rem;
        width: .5rem;
        background-color: #ff7300;
        opacity: 0;
        left: 0;
        bottom: 0;
        translate: 0 125%;
        border-radius: 1rem;
        position: absolute;
        transition: 400ms ease-in-out;
    }

    &__logo:hover::after {
        width: 100%;
        opacity: 1;
    }

    &__logo::before {
        content: '';
        height: .5rem;
        width: .5rem;
        background-color: #ff7300;
        opacity: 0;
        right: 0;
        translate: 0 -125%;
        border-radius: 1rem;
        position: absolute;
        transition: 400ms ease-in-out;
    }

    &__logo:hover:before {
        width: 100%;
        opacity: 1;
    }

    &__nav {
        margin-left: 2rem;
        padding: 1rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    &__button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        border: none;
        z-index: 0;
    }

    &__button::after {
        content: '';
        background-color: black;
        height: 0px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 5px;
        z-index: -1;
        transition: 200ms ease-in-out;
    }

    &__button:hover::after {
        height: 100%;
    }

    &__button:hover {
        color: #dcdcdc;
    }
}





