/* MAIN */

main {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.home {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title-wrapper {
        margin-bottom: 1rem;
        height: auto;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        position: relative;
        z-index: 0;
    }

    &__title {
        padding: .5rem 1rem;
        height: fit-content;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        mix-blend-mode: lighten;
        position: relative;
        z-index: 2;
    }

    &__title-wrapper::after {
        content: '';
        height: 100%;
        width: 0;
        background-color: #f5a208;
        position: absolute;
        z-index: 1;
        transition: 250ms ease-in-out;
    }

    &__title-wrapper:hover:after {
        width: 100%;
    }

    &__subtitle {
        text-align: center;
    }

}


/* SOBRE */

.sobre {
    padding: 0.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__p {
        text-align: center;
    }
}

/* SERVICOS */

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg; 
    inherits: false;
}

.servicos {
    margin: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    background-color: #36425f;
    border: solid black 3px;
    border-radius: 10px;

    &__title-wrapper {
        margin-bottom: 2rem;
    }

    /* RECONHECIMENTO */

    &__reconhecimento-sf {
        display: none;
    }

    &__reconhecimento {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        align-items: center;

        &-title-wrapper {
            margin-left: 3rem;
            grid-column: 2/4;
        }
    }

    /* PROPOSTA */

    &__prop-container-sf {
        display: none;
    }

    &__proposta {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-rows: auto 1fr;
        align-items: center;
    }

    &__prop-title-wrapper {
        margin-right: 3rem;
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    }

    &__prop-img {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    &__prop-container {
        margin-top: 2rem;
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        gap: 2rem;
        position: relative;
        z-index: 0;
    }

    &__container-item {
        width: 20vw;
        padding: 1rem;
        position: relative;
        background-color: #36425f;
        border-radius: 15px;
    }

    &__container-item:hover {
        background-color: #23304f;
        transition: 200ms ease-in-out;
    }

    &__container-item::after, &__container-item::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-image: conic-gradient(from var(--angle), #ff0000, #009DFF,red);
        border-radius: 15px;
        z-index: -1;
        transition: 200ms ease-in-out;
        padding: 4px;
    }

    &__container-item--special:last-child::after, &__container-item--special:last-child::before {
        background-image: conic-gradient(from var(--angle), #BB22F5, #22F599,#F5B423,#BB22F5);
    }

    &__container-item::before  {
        filter: blur(1.5rem);
        opacity: 0;
    }

    @keyframes spin {
        from {
            --angle: 0deg;
        }
        to {
            --angle: 360deg;
        }
    }

    &__container-item:hover::after {
        animation: 2.5s spin linear infinite;
    }

    &__container-item:hover::before {
        opacity: 0.75;
        animation: 2.5s spin linear infinite;
    }

    &__container-title {
        margin-bottom: 0.5rem;
    }

    &__container-p {
        text-align: center;
    }

    /* APLICACAO */

    &__aplicacao-sf {
        display: none;
    }

    &__aplicacao {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        align-items: center;
    }

    &__aplicacao-wrapper {
        margin-left: 3rem;
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* DEPOIMENTOS */

.depoimentos {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #36425f;
    border: solid black 3px;
    border-radius: 10px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__perfil {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__perfil-title {
        margin: 0;
    }
}

