@use '../vars';
@use '../mixins';



/* HEADER */

.header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0px;
    @include mixins.flex-padrao;
    gap: 1rem;
    z-index: 1;
    background-color: rgb(72, 90, 136);

    &--fosco {
        background-color: rgba(63, 77, 111, 0.6);    
        backdrop-filter: blur(5px);
    }

    &__logo {
        position: relative;
    }

    &__logo::after {
        @include mixins.anim-logo;
        left: 0;
        bottom: 0;
        translate: 0 125%;
    }

    &__logo:hover::after {
        width: 100%;
        opacity: 1;
    }

    &__logo::before {
        @include mixins.anim-logo;

        right: 0;
        translate: 0 -125%;
    }

    &__logo:hover:before {
        width: 100%;
        opacity: 1;
    }

    &__nav {
        margin-left: 2rem;
        padding: 1rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    &__button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        border: none;
        z-index: 0;
    }

    &__button::after {
        content: '';
        background-color: black;
        height: 0px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 5px;
        z-index: -1;
        transition: 200ms ease-in-out;
    }

    &__button:hover::after {
        height: 100%;
    }

    &__button:hover {
        color: vars.$branco-base;
    }
}

